@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat:wght@300;700&display=swap');

:root {
    --fontepadrao: Arial, sans-serif;
    --fonte1: Montserrat, sans-serif;
    --fonte2: Caveat, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte1);
    font-size: 3.2vw;
    
}

header > p {
    padding-bottom: 50px;
    font-family: var(--fonte1);
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    line-height: 1.5em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vh;
    font-family: var(--fonte2);
    font-size: 30px;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-attachment: fixed;
}

section > p {
    padding-bottom: 1.5em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(27, 25, 25, 0.322);
    text-shadow: 2px 2px 0px black;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    color: white;
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fontepadrao);
}

footer a {
    text-decoration: none;
    color: white;
}